<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}  {% endblock %}
    <title> {% block title %} BZPD {% endblock %} </title>

</head>
<body>

<header>
    {% block header %}

    <div class="logo">logo</div>
    <div class="inscription">Бюро по защите персональных данных</div>
        {% if user.is_authenticated %}
           <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
               <button type="submit">Выход</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
               <button type="submit">Вход</button>
            </form>
        {% endif %}

    {% endblock %}
</header>


<main>
    {% block content %}

    {% endblock %}
</main>


<footer>
    {% block footer %}
    <div>footer</div>
    {% endblock %}
</footer>

</body>
</html>