<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}  {% endblock %}
    <title> {% block title %} BZPD {% endblock %} </title>

</head>
<body>

<header>
    {% block header %}
    <div>
        <div>logo</div>
        <div>Бюро по защите персональных данных</div>
    </div>
    {% endblock %}
</header>


<main>
    {% block content %}

    {% endblock %}
</main>


<footer>
    {% block footer %}
    <div>footer</div>
    {% endblock %}
</footer>

</body>
</html>